<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-4">Sobre Nosotros</h1>
      <p class="lead">Somos una fundación dedicada a brindar apoyo y cuidado a los ancianos. Nuestro objetivo es mejorar la calidad de vida de las personas mayores a través de diversos servicios y programas.</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <h2 class="h4">Nuestra Misión</h2>
      <p>Proveer un ambiente seguro y acogedor donde los ancianos puedan recibir el cuidado y la atención que necesitan.</p>
    </div>
    <div class="col-md-6">
      <h2 class="h4">Nuestros Valores</h2>
      <ul class="list-group">
        <li class="list-group-item">Compasión</li>
        <li class="list-group-item">Respeto</li>
        <li class="list-group-item">Integridad</li>
        <li class="list-group-item">Excelencia</li>
      </ul>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <h2 class="h4 text-center">Nuestros Servicios</h2>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm">
            <img src="assets/residencia.webp" class="card-img-top" alt="Residencia">
            <div class="card-body text-center">
              <h5 class="card-title">Residencia</h5>
              <p class="card-text">Proveemos un hogar seguro y cómodo para aquellos que lo necesitan.</p>
              <a href="home" class="btn btn-primary">Más Información</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm">
            <img src="assets/cuidados.jpg" class="card-img-top" alt="Cuidados Médicos">
            <div class="card-body text-center">
              <h5 class="card-title">Cuidados Médicos</h5>
              <p class="card-text">Ofrecemos atención médica de calidad para asegurar el bienestar de nuestros residentes.</p>
              <a href="home" class="btn btn-primary">Más Información</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card shadow-sm">
            <img src="assets/medicamentos.jpg" class="card-img-top" alt="Medicamentos">
            <div class="card-body text-center">
              <h5 class="card-title">Medicamentos</h5>
              <p class="card-text">Suministramos los medicamentos necesarios para el tratamiento y cuidado de la salud.</p>
              <a href="home" class="btn btn-primary">Más Información</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
