<br>
<br>
<br>
<br>
<br>
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Iniciar Sesión</h3>
            <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Ingresa tu email">
                <div *ngIf="loginForm?.get('email')?.errors && (loginForm?.get('email')?.dirty || loginForm?.get('email')?.touched)">
                    <small class="text-danger" *ngIf="loginForm?.get('email')?.errors?.['required']">El email es obligatorio.</small>
                    <small class="text-danger" *ngIf="loginForm?.get('email')?.errors?.['email']">Por favor, introduce un email válido.</small>
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Ingresa tu contraseña">
                <div *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                  <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
                  <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</small>
                </div>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Acceder</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
