<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fundación Apoyo</a>
    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Residencia</a></li>
                <li><a class="dropdown-item" href="#">Cuidados Médicos</a></li>
                <li><a class="dropdown-item" href="#">Medicamentos</a></li>
                <li><a class="dropdown-item" href="#">Alimentación</a></li>
                <li><a class="dropdown-item" href="#">Ropa para Ancianos</a></li>
              </ul>
          </a>
         
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Donaciones</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
