<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Fundación Apoyo</a>
    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sobre-nosotros">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="servicios">Servicios</a>
         
         
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Donaciones</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
