<div class="container mt-5">
  <h1 class="display-4 text-center mb-4">Bienvenidos a la Fundación Apoyo</h1>
  <p class="lead text-justify">Desde 1995, nos dedicamos a ofrecer cuidados y residencia de calidad a personas de la tercera edad. Nuestra casa de reposo está equipada para proporcionar atención médica especializada, alojamiento y actividades que enriquecen la vida de nuestros residentes.</p>
  <hr class="my-4">
  <p class="text-justify">La Fundación Apoyo se sostiene gracias a los generosos aportes de individuos y familias que reconocen la importancia de cuidar a nuestros mayores. Invitamos a todos a contribuir, ya sea mediante donaciones monetarias, voluntariado o cualquier otra forma de apoyo.</p>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Conoce más sobre nosotros</h5>
          <p class="card-text">Explora nuestro sitio para aprender más sobre nuestros servicios, cómo puedes ayudar, y la diferencia que tu apoyo puede hacer en la vida de muchos.</p>
          <a href="#" class="btn btn-primary">Explorar</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Participa con nosotros</h5>
          <p class="card-text">Únete a nuestra causa y ayuda a mejorar la calidad de vida de nuestros mayores. Tu apoyo es fundamental.</p>
          <a href="/aportar" class="btn btn-success">Contribuir ahora</a>
      </div>
    </div>
  </div>
</div>
